/QCapture/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/.qmake.stash
/QCapture/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/Makefile
/QCapture/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/Makefile.Debug
/QCapture/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/Makefile.Release
/QCapture/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/main.obj
/QCapture/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_predefs.h
/QCapture/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_qcapture.cpp
/QCapture/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_qcapture.obj
/QCapture/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/qcapture.obj
/QVision/QVision.pro.user
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/.qmake.stash
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/Makefile
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/Makefile.Debug
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/Makefile.Release
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/QVision_resource.rc
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/AreaFillDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/BallardDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/BinaryTree.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/CalcuDistDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/CannyDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/CharRecogdlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/CoordinateSystem.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/Database.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/DllManager.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/Dynamicdetect.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/Fileoperation.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/FixThresholdDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/Formattransfer.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/GuilDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/ImgAlgorithm.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/Imgcalculate.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/LinkList.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/MachineLearning.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/Multimedia.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/NetSpyderDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/Networkcommunication.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/Preprocess.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/QVision_resource.res
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/Remotelogin.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/RenameDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/ResizeDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/RotScaleDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/Screencut.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/Sort.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/StatisticPixelDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/TemplateMatchDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/ThresholdDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/Tools.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/UpgradeTempMatchDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/WriteDataDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/main.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_AreaFillDlg.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_AreaFillDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_BallardDlg.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_BallardDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_CalcuDistDlg.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_CalcuDistDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_CannyDlg.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_CannyDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_CharRecogdlg.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_CharRecogdlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_Fileoperation.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_Fileoperation.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_FixThresholdDlg.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_FixThresholdDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_GuilDlg.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_GuilDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_ImgAlgorithm.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_ImgAlgorithm.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_Imgcalculate.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_Imgcalculate.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_Multimedia.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_Multimedia.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_NetSpyderDlg.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_NetSpyderDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_Preprocess.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_Preprocess.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_Remotelogin.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_Remotelogin.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_RenameDlg.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_RenameDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_ResizeDlg.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_ResizeDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_RotScaleDlg.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_RotScaleDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_Screencut.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_Screencut.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_StatisticPixelDlg.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_StatisticPixelDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_TemplateMatchDlg.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_TemplateMatchDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_ThresholdDlg.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_ThresholdDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_Tools.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_Tools.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_UpgradeTempMatchDlg.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_UpgradeTempMatchDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_WriteDataDlg.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_WriteDataDlg.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_predefs.h
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_qvision.cpp
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_qvision.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/qvision.obj
/QVision/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/scanner.obj
/Qhs/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/.qmake.stash
/Qhs/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/Makefile
/Qhs/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/Makefile.Debug
/Qhs/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/Makefile.Release
/Qhs/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/main.obj
/Qhs/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_predefs.h
/Qhs/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_qhs.cpp
/Qhs/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/moc_qhs.obj
/Qhs/build/Desktop_Qt_6_7_2_MSVC2019_64bit-Release/release/qhs.obj
